@keyframes loadingHeader {
  0% { transform: translateY(-208px);}
  100% { transform: translateY(0px);}
}

@keyframes loadingPage {
  0% { transform: scale(0);}
  100% { transform: scale(1); }
}

@keyframes loadingFooter {
  0% { transform: translateY(150px);}
  50% { transform: translateY(150px);}
  100% { transform: translateY(0px);}
}

header {
  transform-origin: top;
  animation: loadingHeader 1000ms;
}

.nav__menu {
  animation: loadingPage 800ms;
}

footer {
  transform-origin: bottom;
  animation: loadingFooter 2000ms;
}
