@font-face {
  font-family: 'caveatbold';
  src: url("../font/caveat/web fonts/caveat_bold_macroman/caveat-bold-webfont.eot");
  src: url("../font/caveat/web fonts/caveat_bold_macroman/caveat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/caveat/web fonts/caveat_bold_macroman/caveat-bold-webfont.woff2") format("woff2"), url("../font/caveat/web fonts/caveat_bold_macroman/caveat-bold-webfont.woff") format("woff"), url("../font/caveat/web fonts/caveat_bold_macroman/caveat-bold-webfont.ttf") format("truetype"), url("../font/caveat/web fonts/caveat_bold_macroman/caveat-bold-webfont.svg#caveatbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

h2, .nav__menu p {
  font-family: "caveatbold";
}

h1, footer a, .home-page__box-btn p {
  font-family: sans-serif;
}

header h1 {
  margin: 0.7em;
  font-size: 5em;
  font-weight: bolder;
  letter-spacing: -0.075em;
  color: #fdcb46;
}

h1 {
  text-align: center;
  margin: 0.5em;
  font-size: 3.2em;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 1.8em;
  margin: 0.3em;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #fdcb46;
}

body {
  background-color: #fff;
}

header {
  background-color: #579c87;
  display: flex;
  justify-content: center;
}

.body__home-page {
  margin: 5em 0;
}

.space {
  height: 48px;
}

nav {
  margin: 0 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav__menu {
  width: 350px;
  height: 430px;
  margin: 1em;
  background-color: #fcdfdb;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 25px #999;
}

.nav__menu a {
  color: black;
}

.nav__menu img {
  width: 48px;
}

.menu__txt {
  text-align: center;
  width: 100%;
}

.menu__txt p {
  font-size: 2.5em;
}

.frame {
  overflow: hidden;
}

.menu--note p {
  text-transform: uppercase;
}

.menu__txt {
  transition: all 1000ms;
  height: 430px;
  padding-top: 40%;
}

.menu__txt:hover {
  transform: scale(1.5);
  opacity: 0.6;
  cursor: pointer;
}

.menu--chic {
  background-color: #fff5fe;
}

.menu--chic h2, .menu--chic a, .menu--chic p {
  font-family: serif;
}

.menu--chic h2, .menu--chic a {
  letter-spacing: -2px;
}

.menu--chic p {
  font-weight: bold;
}

.menu--papilles {
  background-color: #f9f9f9;
}

.menu--palette {
  background-color: #fdfffd;
}

.home-page__box-btn {
  display: flex;
  justify-content: center;
}

.box-btn__btn {
  margin-top: 1em;
  padding: 1em 3em;
  cursor: pointer;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 0.8em;
}

.box-btn__btn p {
  font-size: 1em;
  font-weight: bold;
}

.space {
  margin: 12px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

/*# sourceMappingURL=master.css.map */