.menu4 {
  padding: 80px;
  .logoMenu{
    display: flex;
    justify-content: center;
  }
  img {
    width: 100px;
  }
  *{
    font-family: "caveatbold", cursive;
  }
  h2 {
    text-align: center;
    font-family: 'Yesteryear', cursive;
    background: linear-gradient(90deg, #4e9e4c, #bcfd7e);
    background-clip: text;
    -webkit-background-clip: text; // Pour webkit Blink & co :-P
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    margin: 1em;
    @media (max-width: 1024px){
      font-size: 6.2em;
    }
  }
  h3 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 38px;
    right: 7px;
    @media (max-width: 1024px) {
      font-size: 3.6em;
    }
  }
  ul {
    font-weight: lighter;
  }
  li{
    font-size: 1.5em;
    margin-bottom: 20px;
    em{
      font-weight: bold;
      float: right;
    }
    @media (max-width: 1024px) {
      font-size: 3em;
    }
  }
  margin: auto;
  margin-top: 25px;
  width: 970px;
  background-color: #fdfffd;

  hr {
    height: 25px;
    margin-top: 30px;
    border: none;
    text-align: center;
    background: url(../img/hrMenu4-1.svg) no-repeat top center;
    background-size: 840px 25px;


    &:after {
      font-size: 50px;
      color: #3d1319;
      position: relative;
      top: -24px;


    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .sec_menu{
    margin-bottom: 80px;
  }

}
