.menu3 {
  display: flex;
  flex-direction: column;
  padding: 80px;
  .logoMenu{
    display: flex;
    justify-content: center;
  }
  h2 {
    font-family: "Sofia", cursive;
  }
  h3, ul {
    font-family: "caveatbold";
  }
  h2 {
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(90deg, #023be3, #229df9);
    background-clip: text;
    -webkit-background-clip: text; // Pour webkit Blink & co :-P
    -webkit-text-fill-color: transparent;
    font-size: 3.8em;
    margin: 1em;
    @media (max-width: 1024px){
      font-size: 4.5em;
    }
  }
  h3 {
    display: inline-block;// Pour que le sous ligné ne fasse pas toute la largeur de la page !
    margin-left: auto;// Pour le centrer
    margin-right: auto;// Pour le centrer
    font-size: 1.8em;
    text-align: center;
    position: relative;
    bottom: 36px;
    background-image: linear-gradient(currentColor, currentColor);// Pour effet sousligné
    background-position: 0% 100%;// Pour effet sousligné
    background-repeat: no-repeat;// Pour effet sousligné
    background-size: 0% 2px;// Pour effet sousligné
    transition: background-size .4s;// Pour effet sousligné
    &:hover {// Pour effet sousligné
      background-size: 100% 2px;// Pour effet sousligné
    }
    @media (max-width: 1024px){
      font-size: 3.6em;
    }
  }
  ul {
    font-weight: lighter;
  }
  li{
    font-size: 1.5em;
    margin-bottom: 20px;
    em{
      font-weight: bold;
      float: right;
    }
    @media (max-width: 1024px){
      font-size: 3em;
    }
  }
  margin: auto;
  margin-top: 25px;
  width: 970px;
  background-color: #edefef;
  h2{
    text-align: center;
  }
  hr {
    height: 25px;
    margin-top: 30px;
    border: none;
    text-align: center;
    //background: url(../img/hrMenu1.png) no-repeat top center;


    &:after {
      font-size: 50px;
      color: #3d1319;
      position: relative;
      top: -24px;


    }
  }
  .sec_menu{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .entree {
    hr{
      background: url(../img/hrMenu3-1.svg) no-repeat top center;
      background-size: 840px 25px;
    }
  }
  .plat {
    hr{
      background: url(../img/hrMenu3-2.svg) no-repeat top center;
      background-size: 840px 25px;
    }
  }
  .dessert{
    hr{
      background: url(../img/hrMenu3-3.svg) no-repeat top center;
      background-size: 840px 25px;
    }
  }
  hr {
    @media (max-width: 1024px){
      display: none;
    }
  }
  }
